.hidden {
  color: transparent;
}

body {
  background: #2e2d2d;
  color: #fff;
  font-family: 'SF Pixelate', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

#wordContainer {
  margin-top: 20px;
}

.letter-container {
  display: inline-block;
  position: relative;
  margin-right: 5px; /* Add some spacing between letters */
}

.letter-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ddd;
  height: 2px; /* Set the height of the underline */
}

.letter {
  margin: 0 7px;
  position: relative;
}

#startButton {
  margin-top: 70px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 150px;
  padding: 10px;
  background: #d95d39;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#resetButton {
  margin-top: 70px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 150px;
  padding: 10px;
  background: #d95d39;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
